<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head">
</head>
<body>
  <h1><span>
    <th:block th:if="${headerSoftware}" th:text="${serverSoftware}"/>
    <strong th:text="${T(org.apache.commons.lang3.StringUtils).capitalize(serverName)}"/>
    <a href="https://github.com/lhsradek/tombola" target="_blank"><img th:src="@{/res/github.png}" th:width="'30'" th:height="'30'"/></a>
    <a href="https://www.facebook.com/radek.kadner/" target="_blank"><img th:src="@{/res/facebook.png}" th:width="'15'" th:height="'30'"/></a>
    <a href="https://www.linkedin.com/in/radekkadner/" target="_blank"><img th:src="@{/res/in.png}" th:width="'30'" th:height="'30'"/></a>
    <a href="mailto:radek.kadner@gmail.com"><img th:src="@{/res/mail.png}" th:width="'30'" th:height="'30'"/></a></span>
  </h1>
  <div th:class="'content'" th:with="dateFormat=${T(local.intranet.tombola.api.domain.Contented).CONTENT_DATE_FORMAT}">
    <button th:type="'button'" th:class="'topBtn'" th:id="'topBtn'">Top</button><script th:src="@{/res/button.js}"></script>
    <div th:class="'content-middle'">
      <div th:class="'top'">
        <h2><span>
          <th:block th:text="'Tombola'"/>
          <small th:utext="'\'' + ${stage} + '\' on '"/>
          <small th:utext="${serverSoftware} + ' - \'' + ${activeProfiles} + '\''"/>
        </span></h2>
        <h5><span>
 	  <small><a th:if="${isAuthenticated}" th:href="@{/logout}" th:text="'Log out'"/><a th:if="!${isAuthenticated}" th:href="@{/login}" th:text="'Log in'"/></small></br></br>
          <th:block th:utext="${tombolaApi} + ' ' + ${implementationVersion}"/>
          <small th:text="' (Spring Boot ' + ${springBootVersion} + ', Spring ' + ${springVersion} + ') with '"/>
          <small><a th:href="@{/license}" th:text="'The MIT License'"/></small>
          <small th:if="${userRoles.get('managerRole') or userRoles.get('adminRole')}"><a th:href="@{|/manager/page/${ticketPage}|}" th:text="'Manager'"/></small>
          <small th:if="${userRoles.get('managerRole') or userRoles.get('adminRole')}"><a th:href="@{/audit}" th:text="'Audit'"/></small>
          <small th:if="${userRoles.get('managerRole') or userRoles.get('adminRole')}"><a th:href="@{/tombolaLog}" th:text="'Log'"/></small>
          <small th:if="${userRoles.get('adminRole')}"><a th:href="@{/properties}" th:text="'Properties'"/></small>
          <small th:if="${userRoles.get('managerRole') or userRoles.get('adminRole')}"><a th:href="@{/swagger-ui/}" th:target="'_blank'" th:text="'Swagger'"/></small>
        </span></h5>
      </div>
    </div>
    <div th:class="'content-columns'">
      <div th:class="'top'">
        <div th:class="'content-column-left'">
          <h5 th:text="'Prize Count:' + ${prizeSum} + ' Remains:' + ${prizeSum.get() - prizeIssued.get()} + ' Issued:' + ${prizeIssued}"/>
          <code><span><table th:class="'data-table'" th:width="'550px'">
<thead><tr><th th:width="'4%'" th:class="'left'"><img th:src="@{/res/hibernate.png}" th:width="'12px'" th:height="'13px'" th:class="'borderoff'"/></th>
<th th:width="'59%'"><big><strong th:text="'Name'"/></big></th>
<th th:width="'4%'"><big><strong th:text="'C'"/></big></th>
<th th:width="'4%'"><big><strong th:text="'R'"/></big></th>
<th th:width="'4%'"><big><strong th:text="'I'"/></big></th>
<th th:width="'25%'"><big><strong th:text="'Date'"/></big></th>
</tr></thead>
<tr th:each="k : ${prizeAll}">
<td th:class="'right nowrap'"><strong th:text="${k.id}"/></td>
<td th:class="'left'"><strong th:text="${k.prizeName}"/><span th:if="${k.ticket.size() > 0}"><br/><small th:utext="${k.ticket}"/></span></td>
<td th:class="'right nowrap'"><strong th:text="${k.cnt}"/></td>
<td th:class="'right nowrap'"><strong th:text="${k.cnt - k.issued}"/></td>
<td th:if="${k.issued == 0}"/><td th:if="${k.issued > 0}" th:class="'right nowrap'"><strong th:text="${k.issued}"/></td>
<td th:if="${(k.date == null) or (#strings.length(k.date) == 0)}"/><td th:if="${(k.date != null) and (#strings.length(k.date) > 0)}" th:class="'center nowrap'"><th:block th:text="${#dates.format(k.date, dateFormat)}"/></td>
</tr></table></span></code>
        </div>
        <div th:class="'content-column-right'">
          <h5 th:if="${ticketWin.size() > 0}"><span>
          <span th:if="${ticketPage <= 1}" th:class="'disabled'" th:utext="' &#8681; '"/><a th:if="${ticketPage > 1}" th:utext="' &#8681; '" th:href="@{|/page/0|}" th:class="'decorationoff'"/>
          <span th:if="${ticketPage == 0}" th:class="'disabled'" th:utext="' &#8678; '"/><a th:if="${ticketPage > 0}" th:utext="' &#8678; '" th:href="@{|/page/${prev}|}" th:class="'decorationoff'"/>
          <th:block th:text="'Ticket Count:' +  ${ticketCnt} + ' [' + ${ticketPage + 1} + '/' + ${ticketMax + 1} + ']'"/>
          <span th:if="${ticketPage >= ticketMax}" th:class="'disabled'" th:utext="' &#8680; '"/><a th:if="${ticketPage < ticketMax}" th:utext="' &#8680; '" th:href="@{|/page/${next}|}" th:class="'decorationoff'"/>
          <span th:if="${(ticketPage + 1) >= ticketMax}" th:class="'disabled'" th:utext="' &#8679; '"/><a th:if="${(ticketPage + 1) < ticketMax}" th:utext="' &#8679; '" th:href="@{|/page/${ticketMax}|}" th:class="'decorationoff'"/></span></h5>
          <code th:if="${ticketWin.size() > 0}"><span><table th:class="'data-table'" th:width="'380px'">
<thead><tr><th th:width="'6%'" th:class="'left'"><img th:src="@{/res/hibernate.png}" th:width="'12px'" th:height="'13px'" th:class="'borderoff'"/></th>
<th th:width="'5%'"><big><strong th:text="'T'"/></big></th>
<th th:width="'33%'"><big><strong th:text="'Name'"/></big></th>
<th th:width="'26%'"><big><strong th:text="'Date'"/></big></th></tr></thead>
<tr th:each="k : ${ticketWin}">
<td th:class="'right nowrap'"><strong th:text="${counter.incrementAndGet()}"/></td>
<td th:class="'right nowrap'"><strong th:text="${k.id}"/></td>
<td th:class="'left'"><strong th:text="${prizeAll[k.win - 1].prizeName}"/></td>
<td th:class="'center nowrap'"><th:block th:text="${#dates.format(k.date, dateFormat)}"/></td></tr>
</table></span></code>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
